cmake-build-debug
CMakeLists.txt
.idea
.DS_Store
.project
src/MIMOSA_init.o
src/betaintegral.o
src/betaintegralRcpp.o
src/BetaMix.o
src/MIMOSA.so
src/MCMC.o
.Rbuildignore
.Rhistory
*.Rproj
README.html
vignettes/MIMOSA.log
vignettes/MIMOSA.pdf
vignettes/MIMOSA.tex
inst/.DS_Store
.Rproj.user
test.R