export(.fitMCMC)
export(ConstructMIMOSAExpressionSet)
export(fdr)
export(fdrComparison)
export(match.elispot.antigens)
export(MIMOSAExpressionSet)
export(setReference)
exportMethods(MIMOSA)
import(Formula)
importClassesFrom(methods,array)
importClassesFrom(methods,character)
importClassesFrom(methods,data.frame)
importClassesFrom(methods,factor)
importClassesFrom(methods,integer)
importClassesFrom(methods,matrix)
importClassesFrom(methods,numeric)
importFrom(MASS,ginv)
useDynLib(MIMOSA)
